In [25]:
import pandas as pd

master_df = pd.read_csv("Heart_Disease_Mortality_Data_Among_US_Adults__35___by_State_Territory_and_County.csv", sep=",")


#removes the insufficient data columns
rem_null_df = master_df[master_df['Data_Value_Footnote'].isnull()]

#gets only male/female
rem_gen_overall_df = rem_null_df[rem_null_df['Stratification1'] != 'Overall']

#removes the overall for the ethnicity
rem_eth_overall_df = rem_gen_overall_df[rem_gen_overall_df['Stratification2'] != 'Overall']

#only gets the county
only_county_overall_df = rem_eth_overall_df[rem_eth_overall_df['GeographicLevel'] == 'County']


#get the columns we are only using
desired_columns = ['LocationAbbr', 'LocationDesc', 'Data_Value', 'Stratification1', 'Stratification2']
cleaned_county_df = only_county_overall_df[desired_columns]

#Renamed the columns to better naming for the project
cleaned_county_df.columns = ['State', 'County', 'people per 100k', 'Gender', 'Ethnicity']

#Validated the column total  
#print(len(cleaned_county_df))

#Checking the data
cleaned_county_df.head()

13649

    State                County  people per 100k Gender Ethnicity
102    AK             Anchorage            317.5   Male     White
105    AK                Denali            400.7   Male     White
106    AK  Fairbanks North Star            401.0   Male     White
107    AK                Haines            385.5   Male     White
108    AK                Juneau            281.6   Male     White